<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            This is Second Html page
        </h1>


<div>
            <a href="{% url 'app3:third' %}">Navigate to Third</a>
        </div>


        <div>

        <a href="{% url 'first' %}">Navigate To First</a>

    </div>
    </center>
</body>
</html>